body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

/* <-----First Section Start----> */

.sec1{
    display: flex;
    margin: 0px;
    padding: 0px;
    padding-bottom: 150px;
}

.div1{
    padding-left: 10%;
    padding-top: 10%;
    font-weight: 1000;    
}
span{
    color: #FB984C;
}

.art1{
    color: #575757;
    font-size: 83px;
}

.pra1{
    color: #828282;
    font-size: 25px;
}


.btn1{
    text-decoration: none;
    background-image: linear-gradient(#FB8E48, #FD5332);
    color: white;
    font-weight: 900;
    padding: 32px 60px;
    border-radius: 40px;
    font-size: 20px;
}

.div2{
    padding-left: 10%;
    padding-top: 10%;
    font-weight: 1000;   
}

.img5{
    width: 110%;
    height:110%;    
}

/* <-----First Section End----> */


/* <-----Second Section Start----> */

.sec2{    
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-image: url(6.jpg);
    background-repeat:no-repeat ; 
    background-size: 100%;  
}

.div3{
    width: 60%;
    height: 100%;
}
.img4{
    width: 37%;
    margin-top: 10%;
    height: 90%;
    padding-left: 25%;
    display: block;
}


.div4{
    width: 40%;
    height: 100%;    
}

.art2{
    color: #707070;
    font-size: 75px;
    margin-top: 200px;
    margin-left: -50px;
}

.pra2{
    font-size: 24px;
    margin-left:-50px;   
}

.btn2{
    margin-left:-50px;
    text-decoration: none;
    background-image: linear-gradient(#FB8E48, #FD5332);
    color: white;
    font-weight: 900;
    padding: 32px 60px;
    border-radius: 40px;
    font-size: 20px;  
}

/* <-----Second Section End----> */



.sec3{
    display: flex;
    margin: 0px;
    padding: 0px;
}

.div5{
     text-align:center ;
     height: 100%;
     width: 100%;
}
.art3{
    color: #707070;
    font-size: 65px;
    margin-top: 140px;   
}

.pra3{
    font-size: 20px; 
}

.sec4{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.div6{
   width: 30%; 
   margin-left: 5%;
}

.div7{
    width: 30%; 
 }

.div8{
    width: 30%; 
    margin-right: 5%;
 }

 .img1{
     width: 80%;
     height: 60%;
 }